
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

.heading{
  text-align: center;
  padding-top: 2rem;
} 

.slider-wrapper{
    position: absolute;
    top: 35%;
    transform: rotate(270deg);
    left: 45%;
    box-shadow: 1px 3px 10px rgba(10, 10, 10, 0.5);
    border: 0.07rem solid rgb(100,100,100);
    background: rgba(30,30,30,0.85);
    padding: 7px 15px 8px;
    border-radius: 0 0 10px;
    color: #ddd;
}
#slider-value{
    transform: rotate(90deg);
}
  
output {
    display: inline-block;
    width:25px;
}

.inputs{
    position: absolute;
    top: 20%;
    left: 55%;
}